.outline, .filled{
 width: 24px;
 height: 24px;
 cursor: pointer;
}

.outline{
 background: url('../icon/like.png');
}

@keyframes like {
 0% {transform: scale(1)}
 25% {transform: scale(1.2)}
 50% {transform: scale(.95)}
 100% {transform: scale(1)}
}

.filled{
 background: url('../icon/likeFilled.png');
 animation-name: like;
 animation-duration: .45s;
 animation-timing-function: ease-in-out;
}
