@value white-greyBorder from '../../../../css/colors.css';
@value mainFontColor from '../../../../css/colors.css';

.comments{
  width: 100%;
  padding: 16px 10px 26px 0;
  border-bottom: 1px solid white-greyBorder;
  line-height: 18px;
  font-size: 14px;
  color: mainFontColor;
}

.comments .description{
  width: 100%;
  display: flex;
}

.comments .description .img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.comments .description div{
  margin-left: 20px;
}

.userName{
  font-weight: 600;
  margin-right: 5px;
}

.comments .userComments{
  width: 100%;
  padding: 12px 0;
  display: flex;
}

.comments .userComments .img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.comments .userComments div{
  margin-left: 20px;
}
