.popup{
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0; left: 0; bottom: 0;right: 0;
  padding: 0 40px;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.overlay{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  width: 100%;
  z-index: -3333;
  background-color: transparent;
}

.close{
  order: 2;
  position: absolute;
  top: 20px;
  right: 20px;
}

.content{
  width: 100%;
  max-width: 935px;
  background-color: #fff;

  display: flex;
  position: relative;
}

.photo{
  min-height: 450px;max-height: 600px;
  margin-right: 335px;
  overflow: hidden;
  background-color: black;

  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img{
  width: 100%;
}

.otherBlock{
  position: absolute;min-height: 450px;height: 100%;
  right: 0;top: 0;
  width: 335px;
  padding: 16px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.headerComponent{
  flex-grow: 0;
}

.commentsComponent{
  flex-grow: 3;
  overflow-y:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.commentsComponent::-webkit-scrollbar{
  display: none;
}

.buttons{
  flex-grow: 0;
  display: flex;
  justify-content: flex-start;
  padding: 15px 0 10px 0;
}

.buttons .components{
  margin-right: 20px;
}

.addComment{
  border: 2px solid red;
}

.comment, .share, .prevButton, .nextButton {
  width: 24px; height: 24px;
  cursor: pointer;
}

.comment{
  background: url('./icons/chat.png');
}

.share{
  background: url('./icons/share.png');
}

.prevButton{
  background: url('./icons/prev.png');
  align-self: center;
}

.nextButton{
  background: url('./icons/next.png');
  order: 2;
  align-self: center;
}

.close{
  width: 16px;
  height: 16px;
  background: url('./icons/cancel.png');
  background-position: center;
}


















/*  */
