@value dark-greyBorder from '../../../css/colors.css';
@value white-greyBackground from '../../../css/colors.css';
@value whiteBasic from '../../../css/colors.css';

.content{
  width: 100%;
  background-color: white-greyBackground;
    @media (--media-tablet-s) {
        background-color: whiteBasic;
    }
}

.body{
  width: 100%;
  max-width: 975px;
  margin: 0px auto;
  padding: 130px 20px 30px 0 ;
  display: flex;
    @media (--media-tablet-s) {
        display: block;
        padding: 100px 16px 0 16px;
    }
}

.userPic{
  margin-right: 30px;
  flex-basis: 450px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
    @media (--media-tablet-s) {
        max-width: 90px;
        flex-basis: 0;
        float: left;
    }
}

.img{
  max-width: 150px;
  border-radius: 50%;
    @media (--media-tablet-s) {
        max-width: 77px;
    }
}

.description{
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  width: 100%;
  color: #262626;
    @media (--media-tablet-s) {
      display: block;
    }
}

.userName{
  display: flex;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
    @media (--media-tablet-s) {
      flex-wrap: wrap;
    }
    @media (--media-phone) {
      flex-wrap: wrap;
    }
}

.buttons{
  display: flex;
    @media (--media-phone) {
      order: 1;
    }
}

 .title{
  margin-right: 7px;
    @media (--media-phone-s) {
      max-width: 65%;
      overflow-x: hidden;
    }
}

.followers{
  display: flex;
  margin-bottom: 20px;
}

.followersList{
  margin-right: 40px;
  font-size: 16px;
    @media (--media-tablet-s) {
      font-size: 14px;
      text-align: center;
    }
}

.data{
  font-weight: 600;

}

.about{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
    @media (--media-tablet-s) {
      font-size: 14px;
    }
}

.name{
  font-weight: 600;
}

.link{
  font-weight: 600;
  text-decoration: none;
}
